@charset "UTF-8";

/* 

    S I C K O N A T I O N 
     C O M M U N I T Y

     @ S I C K O D E V


*/

/* I M P O R T */

  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Poppins&display=swap');

/* V A R I A V É I S */

:root{

    /* Fontes */
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Barlow', sans-serif;


    /*  Paleta de cores */
    --cor-primaria: #0b0e13;
    --cor-secundaria: #fff;
    --cor-detalhes: #45f882;

    --cor-hover: rgba(69, 248, 130, 0.2);
    --cor-hover2: #2fd065;

    /*  */

}

/* G L O B A L */
*,::after,::before {

    box-sizing: border-box;

}

body {

    overflow-x: hidden;

    width: 100%;
    height: 100%;

    margin: 0;

    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;

    line-height: 1.5;

    color: var(--bs-body-color);
    background-color: var(--cor-primaria);

    text-align: center;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {

    color: inherit;
    text-decoration: none;

}

h1, h2, h3, h4, h5, h6 {

    font-size: 1.5rem;

}

h4 a{

    text-transform: uppercase;
    font-weight: 700;
    color: white;

}

h4 a:hover{

    color: var(--cor-detalhes);

}

h5 a:hover{
    color: var(--cor-detalhes);
}

/* N F T */
img, .img{

    max-width: 100%;

    /* Webkit transition*/

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.area_nft{

    padding: 100px 0 70px;

}

.area_nft .row{

    --bs-gutter-x: 37px;

}

.caixa{

    padding: 25px;
    margin: 0 0 30px;

    /*  */

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;

    /*  */

    background: #121a23;
    background-image: -moz-linear-gradient(90deg, #0c0e12 0%, rgba(31, 41, 53, 0.36078) 100%);
    background-image: -webkit-linear-gradient(90deg, #0c0e12 0%, rgba(31, 41, 53, 0.36078) 100%);
    background-image: -ms-linear-gradient(90deg, #0c0e12 0%, rgba(31, 41, 53, 0.36078) 100%);

    /*  */

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(76, 76, 76, 0.2);



    /*  */

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.caixa:hover{

    border-color: var(--cor-hover);

}

/*  Miniatura */
.miniatura{

    flex: 0 0 auto;
    margin-right: 20px;
    max-width: 187px;

}

.miniatura img{

    border-radius: 8px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;

}

/* Content */
.conteudo{

    flex-grow: 1;

}

.conteudo .nome_nft{

    font-size: 20px;
    letter-spacing: 0.5;
    margin: 0 0 15px;

}

/* Avatar */
.perfil{

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;

    margin: 0 0 20px;
}

.perfil .criador-nome{

    align-items: center;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

}

.perfil .criador-nome .nome{
    
    margin: 0 0 0;
    font-size: 18px;
    font-weight: 700;
    color: #9b9b9b;
    text-transform: capitalize;

}

.perfil .criador-nome .designacao{

    font-size: 12px;
    font-weight: 500;
    color: #9b9b9b;
    text-transform: uppercase;

}

.perfil .criador-nome .designacao::before{

    content: " | ";
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #434343;
    padding: 0 8px 0 10px;

}

/*  Preço */
.preco{

    border: 1px solid rgba(76, 76, 76, 0.5);
    padding: 14px 15px 14px 20px;

    /*  */

    display: flex;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    align-items: center;

    background-color: #121a23;
    background-image: -moz-linear-gradient(90deg, rgb(12, 14, 18) 0%, rgb(16, 24, 31) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(12, 14, 18) 0%, rgb(16, 24, 31) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(12, 14, 18) 0%, rgb(16, 24, 31) 100%);

    /*  */
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;

}

.preco p{

    margin: 0 0;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;

    color: #e8e8e8;

}

.preco p span{

    text-transform: uppercase;
    font-weight: 100;
    color: var(--cor-detalhes);
}

/* Oferta */
.preco .preco-btn {

    padding: 11px 14px;
    margin-left: auto;

    display: flex;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    align-items: center;
    column-gap: 10px;

    background: var(--cor-detalhes);
    color: #394354;

    text-transform: capitalize;
    text-decoration: none;

    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 18px;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;

    line-height: 1;
    
}

.preco .preco-btn:hover{

    background-color: var(--cor-hover2);

}

/* S C R O L L B A R */

::-webkit-scrollbar{

    width: 8px;
    background-color: var(--cor-primaria);

}

::-webkit-scrollbar-track{

    /* Box shadow */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    border-radius: 10px;
    background-color: var(--cor-primaria);

}

::-webkit-scrollbar-thumb{

    border-radius: 10px;

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    background-color: var(--cor-detalhes);

}

/*  
    M E D I A 
    Q U E R I E S
*/

/* Para todos os tipos de tela */
@media (prefers-reduced-motion:no-preference) {

    :root {
        scroll-behavior: smooth
    }

}

/* 576px <> 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .caixa{

        display: flex;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;

        text-align: left;
        max-width: 100%;
        padding: 25px 25px;
        margin: 0 0 30px;

    }

    .miniatura {
        margin: 0 20px 0 0;
    }

    .perfil {
        justify-content: flex-start;
    }
    
}

/* 767.98px */
@media (max-width: 767.98px) {

    .perfil {

        justify-content: center;

    }

    .miniatura {

        margin: 0 auto 25px;

    }

    .caixa{

        display: block;
        text-align: center;
        max-width: 320px;
        padding: 35px 25px 25px;
        margin: 0 auto 30px;

    }

}

/* 991.98px */
@media (max-width: 991.98px) {

    .miniatura {
        max-width: 187px;
    }

}

/* 1500px */
@media (max-width: 1500px){

    .miniatura{
        max-width: 170px;
    }

    .area_nft .row{
        --bs-gutter-x: 30px;
    }

}

/* 1800px */
@media (max-width: 1800px){

    .miniatura{
        max-width: 165px;
    }

}